
body, h1, h2, h3, h4, h5, a {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 200;
}

a {
  text-decoration: none;
}

.main {
  width: 100vw;
  height: 100vh;
  background: green;
  position: relative;
}

.main .current-place-info {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right;
  z-index: 2;
  display: none;
}

.main .current-place-info a {
  color: #111;
}

.main-nav {
  /* width: 20%;
  height: 100vh; */
  left: 0;
  position: absolute;
  background: #111;
  text-align: center;
  color: #eee;
  overflow-y: scroll;
}

.main-nav .logo {
  margin: 0;
  padding: 10px;
  user-select: none;
  font-family: "Pacifico", cursive;
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 30px;
}

.main-nav .sub-logo {
  font-size: 12px;
}

.main-nav .filter {
  width: 95%;
  text-align: center;
  padding: 10px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 0;
  border-radius: 25px;
  z-index: 1;
}

.main-nav .places {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.main-nav .places .place {
  height: auto;
  text-align: left;
  padding: 20px 10px 20px 10px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  list-style: none;
  cursor: pointer;
  transition: .2s all ease;
}

.main-nav .places .place:hover {
  background: #eee;
  color: #111;
  transition: .2s all ease;
}

.main-nav .places .place h4 {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}

.main-nav .places .place img {
  width: 20%;
  max-width: 25px;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

#map {
  /* width: 80%;
  height: 100vh; */
  background: #eee;
  right: 0;
  position: absolute;
  z-index: 1;
}

#locationInfo {
  position: absolute;
  overflow-y: scroll;
  background: rgba(15,15,15,0.5);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: none;
  text-align: center;
}

#locationInfo .location-info-inner {
  position: relative;
  margin: auto;
  margin-top: 60px;
  padding: 25px;
  width: 80%;
  max-width: 800px;
  background: #eee;
}

#locationInfo .location-info-inner h2 {
  border-bottom: 1px solid black;
}

#locationInfo .location-info-inner .btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  line-height: 40px;
  font-size: 30px;
  width: 40px;
  border-radius: 0;
  cursor: pointer;
  transition: .2s ease all;
}

#locationInfo .location-info-inner .btn-close:hover {
  border-radius: 100%;
  background: #ddd;
  transform: rotate(90deg);
  transition: .2s ease all;
}

#locationInfo .location-info-inner h4 {
  padding: 25px;
}

#locationInfo .location-info-inner ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

#locationInfo .location-info-inner ul li {
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaa;
}

#locationInfo .location-info-inner h5 {
  font-size: 25px;
}

.error-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 3;
}

.error-container .error-inner {
  background: #f98989;
  padding: 25px;
}

@media only screen and (min-width: 769px) {
    #map {
      width: 80%;
      height: 100vh;
    }

    .main-nav {
      width: 20%;
      height: 100vh;
    }
}

@media only screen and (max-width: 768px) {
    #map {
      width: 70%;
      height: 100vh;
    }

    .main-nav {
      width: 30%;
      height: 100vh;
    }
}

@media only screen and (max-width: 500px) {
    #map {
      width: 100%;
      top: 0;
      height: 55vh;
    }

    .main-nav {
      width: 100%;
      height: 45vh;
      bottom: 0;
    }
}
